.active{
    color: #e0d9d9;
    font-size:x-large;
    font-style:inherit;
    font-weight: bold; 
    text-decoration: none;
    text-align: center;
}
.active:hover {
    color: #000;
   
  }

.pending{
    color: #170a0a;
    font-size:x-large;
    font-style:inherit;
    font-weight: bold; 
    text-decoration: none;
    text-align: center;
    padding: 20 20;
}

.pending:hver{
  color: #170a0a;
  font-size:x-large;
  font-style:inherit;
  font-weight: bold; 
  text-decoration: none;
  text-align: center;
  padding: 20 20;
}

ul {
  list-style-type: square;
}


.imageItem {
    width: 360px;
    transition: width 0.5s;
  }

  .text-area {
    height: 500px
  }


  .cardItem {
    width: 360px;
    transition: width 0.5s;
  }
  
  .big-dot {
    font-size: 2em; /* Atur ukuran titik bulat */
    margin-right: 0.5em; /* Atur jarak antara titik bulat dan teks */
  }


  @media (min-width: 1025px) {
    .h-custom {
    height: 100vh !important;
    }
    }
    
    .horizontal-timeline .items {
    border-top: 2px solid #ddd;
    }
    
    .horizontal-timeline .items .items-list {
    position: relative;
    margin-right: 0;
    }
    
    .horizontal-timeline .items .items-list:before {
    content: "";
    position: absolute;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: #ddd;
    top: 0;
    margin-top: -5px;
    }
    
    .horizontal-timeline .items .items-list {
    padding-top: 15px;
    }